  .heading
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 10px 5px rgb(72, 203, 243);
  }
  .heading_div
  {
    float: none;
    background: white ;
    padding: 2px; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 8px 5px rgb(147, 236, 159);
    font-weight: 600;
  }
  .heading_div2
  {
    font-size: 18px ;
    font-weight: 600;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px rgb(210, 142, 241);
    font-size: 20px;
  }
  
  .result_para_span
  {
    white-space: pre-line;
  }
 
 .copy_right_footer{
   position: fixed;
   color: rgb(0, 0, 0);
   bottom: 0;
   width: 100%;
   background-color: rgb(194, 192, 192);
   line-height: 2;
   text-align: center;
   font-weight: 700;
 }

 canvas{
   border:5px solid rgb(0, 0, 0);
   border-radius: 20px;
   box-shadow: 5px 5px 5px rgb(19, 75, 226);
   margin-top:160px;
 }